.add-button {
    color: #ffa6347;
    background-color: #f9f9f9;
    border: 0.5px solid #ffa6347;
    width: 100%;
    height: 40px;
    font-weight: 700;
}

.add-button:hover {
    color: #f9f9f9;
    background-color: #ffa6347;
}

form {
    width: 30%;
}

label {
    color: #3c3c3c;
}

@media screen and (max-width: 768px) {
    textarea {
        width: 300px;
    }

}
