/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

@media screen and (max-width: 768px) {
    body {
        background-color: red;
    }
}
