* {
    margin-left: 20px;
    margin-right: 20px;
}

.teachinder {
    border: none;
}

img {
    display: inline-block;
    border: 4px solid coral;
    border-radius: 50%;
}

img:hover {
    transform: scale(1.3);
}

a {
    color: orange;
    font-weight: 700;
    font-family: "Arial Narrow";
}

a:hover {
    color: darkorange;
}

.flexbox__container {
    display: flex;
    justify-content: space-around;
}

.flexbox__item {
    width: 20%;
    text-align: center;
}

.float__right__button {
    float: right;
    border: solid 0.5px #ffa6347;
    color: #ffa6347;
    background-color: #f9f9f9;
    font-weight: 700;
    height: 35px;
    width: 150px;
}

.search {
    height: 20px;
}

.float__right__button:hover {
    color: #f9f9f9;
    background-color: #ffa6347;
}

.float-right {
    float: right;
}

table {
    width: 100%;
    float: left;
}

table tr:nth-child(odd) {
    background-color: #b4b4b4;
}

.pagination {
    color: #3cb371;
}

h1 {
    text-align: center;
}

.ph1 {
    text-align: center;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
}

.bold__names {
    font-weight: 700;
    text-align: center;
}

.text-align__center {
    text-align: center;
}

@media screen and (max-width: 768px) {
    img {
        width: 40px;
        height: 40px;
    }

    .float__right__button {
        width: 50px;
    }
}

@media screen and (max-width: 900px) {
    .float__right__button {
        width: 70px;
    }
}

@media screen and (min-width: 1600px) {
    img {
        width: 200px;
        height: 200px;
    }
}
