* {
    margin-left: 20px;
    margin-right: 50px;
}

img {
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.email__link {
    color: #0000ff;
}

.subject {
    font-weight: 700;
    font-size: 14px;
}

.fullname {
    font-size: 20px;
}

h1 {
    background-color: #3c3c3c;
}
